@import "tailwindcss";

:root {
    --primary-color: #47a769;    /* Основной цвет */
    --secondary-color: #2ecc71;  /* Второстепенный цвет */
    --green-color: #365314;    /* Основной цвет */
    --accent-color: #e74c3c;     /* Акцентный цвет */
    --text-dark: #2c3e50;        /* Тёмный текст */
    --text-light: #ecf0f1;       /* Светлый текст */
    --background: #469c64;       /* Фон */
}